[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pymysql = "*"
jinja2 = "*"
werkzeug = "*"
xlsxwriter = "*"
gunicorn = "*"
flask-wtf = "*"
wtforms = "*"

[requires]
python_version = "3.7"
