*{
    margin: 0;
    padding: 0;

}
.display-4{
    color: #0d0d0d;
    margin-top: 4rem;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}
.display-5{
    color: #0d0d0d;
    margin-top: 2rem;
    font-size: 1.3rem;
    line-height: 1.2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

body{
    background: rgb(243,251,254);
}
em{
    color: red;
}
.pdf-saver{
    position: absolute;
    bottom: 5%;
    right: 5%;
    position: fixed;
    justify-content: center;
    align-items: center;
   
}
b.header{
    background: rgb(27,73,101);
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 10;
}
.heading{
    color: white;
    font-size: 1.5rem;

}
hr{
    text-align: center;
    margin-left:30% ;
    margin-right: 30%;
    max-width: 400px;
    border-color: #999999;
    justify-content: center;
    align-items: center;
}
.pdf-saver button{
    padding: .1rem 0.8rem;
    justify-content: center;
    align-items: center;
}
.pdf-saver svg{
    margin-top: 0.2rem;
}

.student-details{
    margin-top: 1rem;
    border: 1px solid black;   
    margin-bottom: 5rem;
    border-radius: .5rem;
}
.student-profile{
    margin-right: 5%;
    margin-top:0.5rem ;
    text-align: center;
    
}
.student-profile img{
    width: 9rem;
    height: 10rem;
}
.student-profile p,.student-profile button{
    display: inline-block;
}

.student-profile button,label{
    margin-bottom: 1px;
}

.form{
    margin-top: 220px;
    padding: 0 2rem ;
    margin-bottom: 2rem;
}
.general-form{
    margin-top: 3rem;
}

h4{
    font-size: 1.3rem;
    color: #3d9970;
}
.form-check{
    margin-left: 20px;
    margin-right: 20px;
}
label{
    color: #3d9970;
    line-height: 1.3rem;
}
.form label{
    color: #3d9970;
    margin-bottom: .5rem;
    display: inline-block;
}

#bottoms{
    display: inline-block;
    justify-content: center;
    align-items: center;
    width:100%;
    padding-top: 0rem;
    padding-bottom: 1rem;
}

#save{
    position: fixed;
    top:30%;
    right:9%;
    background-image: linear-gradient(to bottom right,rgb(4, 233, 4),rgb(114, 248, 114));
    color: white;
    float :left;
    margin-left: 20%;
    border-radius: 10%;


}

#printer{
    background-image: linear-gradient(to bottom right,rgb(255, 72, 0),rgb(253, 121, 69));
    color:white;
    margin-left:20%;
    border-radius:10%;
}

#bottoms .Submit{
    background-color: #999999;
    color: black;
    float :right;
    margin-right: 10%;
    border-radius: 10%;
    
}

#bottoms .Submit,#save,#printer{
    height:40px;
    width:7rem;
    opacity: 0.7;
}
#bottoms .Submit:hover,#save:hover,#printer:hover{
    opacity:1;
    box-shadow: 3px 5px 5px rgb(253, 166, 115);
}

@media (max-width: 770px) {
    .heading{
        color: white;
        font-size: 0.9rem;
    
    }
    .container{
        width: 90%;
    }
    .student-profile{
        justify-content: center;
        align-items: center;
        margin-right: 30%;
    }
    .student-profile img{
        width: 7rem;
        height: 8rem;
    }
  }