{% extends 'base.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static',filename='loginpage.css')}}">
{% endblock %}

{% block main %}
<div class="wrapper">
    <div class="container">
        <form action="/adminhomepage" method="POST">
        
        <button name="userlist" value="True" class="btn">User&nbsp;List</button>
        
        <br></br>
        
        <button  name="studentlist" value="True" class="btn">Student&nbsp;List</button>
        </form>
    </div>
</div>
{% endblock %}