{% extends 'base.html'%}

{% block stylesheets %}
<link rel="stylesheet" href="{{url_for('static',filename='loginpage.css')}}">
{% endblock %}
{% block main %}

<div class="wrapper">
    <div class="container">
      
      <div class="signup user" style="width:100%">Modify</div>

      
       <form action="/modify" method="POST" class="signup-form user-form">
          <input type="text" placeholder="Enter Username" disabled name="username" value="{{username}}" id="user_email" class="input"><br />
          <input type="password" placeholder="Password" name="password1" id="user_password" class="input"><br />
          <input type="password" placeholder="Re-Enter Password" name="password2" id="user_password" class="input"><br />
          {{form.modify (class="btn")}}
       </form>
      
    </div>
  </div>
{% endblock %}