{% extends 'base.html' %}

    {% block stylesheet %}
    <style type="text/css">
        h3 span {
            font-size: 22px;
        }
        h3 input.search-input {
            width: 300px;
            margin-left: auto;
            float: right
        }
        .mt32 {
            margin-top: 32px;
        }
      header{
      width: 100%;
      background-color: #1B4965;
      color: #ffffff;
      padding: 10%;
      line-height: 150%;
      display: block;
      text-align: center;
    }

    main{
        background-color: #add8e6;
    }


    table, th, td{

        height: 5%;
        line-height: 2%;
        font-size: 100%;
        font-weight: normal;
        margin: 0 auto;
        padding: 1%;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
    }


    th{
        text-align: center;
        background-color: #1B4965;
        background-image: linear-gradient(10deg, #1B4965, #eeeeee);
        color: #ffffff;
        height: 10%;
        box-sizing: border-box;
        margin: 1%;
        padding: 1%;
    }

    td{
        text-align: center;
    }

    tr{
        background-color: #aaaaaa;
        opacity: 0.7;
    }

    tr:hover{
        opacity: 1;
    }

    #modifybn{
        color: #10A5F5;
        margin: 1%;
    }

    #deletebn{
        color: #B53737;
        margin: 1%;
    }


    .search{
        float: right;
        height: 3%;
        margin: 1%;
        text-align: block;
        border-radius: 4px;

    }

    #add{
        float: left;
        margin: 1%;
        padding: 1%;
        text-align: block;
    }
    div a{
    float: right;
    height: 10%;
    padding: 1%;
    }

    form button, a button{
        background-color: #1B4965;
        color: #ffffff;
    }
    </style>

    {% endblock %}
    {% block main%}
    <div class="container">
        <div  class="mt32" >
            <input align="right" style="max-width:50%;float:right;margin-right:1rem;margin-top:0.5rem;" type="search" placeholder="Search..." class="form-control search-input" data-table="customers-list"/>

        <form action="/studentlist" method="POST">
        <button style="float:left;margin-left:1rem;margin-top:0.5rem;" name="add" ><i class="fas fa-user-plus"></i>Add</button>
        </form>
        <form action="/studentlist" method="POST">
            <button style="float:left;margin-left:1rem;margin-top:0.5rem;" name="download" ><i class="fas fa-download"></i>Download</button>
        </form>
        <br></br>
        <table class="table table-striped mt32 customers-list">

            <thead>
                    <tr><th>Admission Number</th>
                      <th>Name</th>
                      <th>Degree</th>
                      <th>Operations</th></tr>
                  </thead>

                  <tbody>
                    {% for student in student_list %}
                    <tr>
                        <form action="/studentlist" method="POST">
                       <td>{{student[2]}}</td>
                       <td>{{student[1]}}</td>
                       <td>{{student[4]}}</td>
                       <td><button value="[{{student[0]}},{{student[3]}}]" name="modify" id="modifybn"><i class="fas fa-pencil-alt"></i> Modify</button> <button value="{{student[0]}}" name="Delete" id="deletebn"><i class="fas fa-trash-alt"></i> Delete</button></td>
                    </form>
                    </tr>
                    {% endfor %}
                 </tbody>
                </table>
                

    </div>
</div>

 {% endblock %}

    {% block scripts %}

    <script>
        (function(document) {
            'use strict';

            var TableFilter = (function(myArray) {
                var search_input;

                function _onInputSearch(e) {
                    search_input = e.target;
                    var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
                    myArray.forEach.call(tables, function(table) {
                        myArray.forEach.call(table.tBodies, function(tbody) {
                            myArray.forEach.call(tbody.rows, function(row) {
                                var text_content = row.textContent.toLowerCase();
                                var search_val = search_input.value.toLowerCase();
                                row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
                            });
                        });
                    });
                }

                return {
                    init: function() {
                        var inputs = document.getElementsByClassName('search-input');
                        myArray.forEach.call(inputs, function(input) {
                            input.oninput = _onInputSearch;
                        });
                    }
                };
            })(Array.prototype);

            document.addEventListener('readystatechange', function() {
                if (document.readyState === 'complete') {
                    TableFilter.init();
                }
            });

        })(document);
    </script>


    {% endblock %}
